.context-menu{
    -fx-pref-width:150px;
    -fx-background-color:white;
    -fx-background-insets:0;
    -fx-padding:5px;
    -fx-background-radius:10px;
    -fx-border-radius:10px;
    -fx-border-color:orange;
    
}
.menu-item:hover , .menu-item:focused{
    -fx-background-color:orange;
    
}
.menu-item:hover , .menu-item:focused .label{
    -fx-text-fill:white;
}
.menu-item .label{
    -fx-text-fill:black;
    -fx-font-size:14;
}
.menu-item{
    -fx-background-radius:5px;
}
